
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


# Ignorowanie projektów WebApi
*.csproj
*.csproj.user
*.sln
bin/
obj/

# Ignorowanie bazy danych SQLite
*.db
*.db3
*.sqlite
*.sqlite3


WebAPI/WorkLoadAPI/workload.db-wal
WebAPI/WorkLoadAPI/workload.db-shm
WebAPI/WorkLoadAPI/workload.db
WebAPI/WorkLoadAPI/.vs/WorkLoadAPI/DesignTimeBuild/.dtbcache.v2
